//Variables for correlation report

$correlation-red: #BC1012;
$correlation-yellow: #E2C63D;
$correlation-green: #3B982B;
$correlation-blue: #007CD3;

$bg-grey: #eee;
$grey: #6A6A6A;

@mixin boxside($color, $thickness) {
  border-left: $thickness solid $color;
}

.correlation-report {
    text-align:center;
    .report-inner-wrapper {
        background:$bg-grey;
        text-align:left;
        width:1020px;
        margin:0 auto;
        padding-top:40px;
        padding-bottom:40px;
    }
    h1 {
        font-size:1rem;
    }
    .header-icon {
        width:21px;
        height:18px;
        float:left;
        filter:$correlation-red;
        path {
            fill:$correlation-red;
        }
    }
    .parameters {
        display:flex;
        padding-left:120px;
        div {
            flex-basis:33.3%;
        }
    }
    .results {
        margin-top:50px;
        .row {
            display:flex;
            justify-content: center;
            > div {
                background:#fff;
                padding:10px;
                margin:0 10px;
                flex-basis:20%;
                -webkit-box-shadow: 5px 2px 5px 0px rgba(205,205,209,1);
                -moz-box-shadow: 5px 2px 5px 0px rgba(205,205,209,1);
                box-shadow: 5px 2px 5px 0px rgba(205,205,209,1);
                &:first-child {
                    flex-basis:10%;
                    background:none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow:none;
                }
                &:nth-child(2) {
                    @include boxside($correlation-red, 2px);
                    .header-icon {
                        path {
                            fill:$correlation-red;
                        }
                    }
                }
                &:nth-child(3) {
                    @include boxside($correlation-yellow, 2px);
                    .header-icon {
                        path {
                            fill:$correlation-yellow;
                        }
                    }
                }
                &:nth-child(4) {
                    @include boxside($correlation-green, 2px);
                    .header-icon {
                        path {
                            fill:$correlation-green;
                        }
                    }
                }
                &:nth-child(5) {
                    @include boxside($correlation-blue, 2px);
                    .header-icon {
                        path {
                            fill:$correlation-blue;
                        }
                    }
                }
            }
        }
        .row.benchmark-key {
            margin-bottom:40px;
            div {
                &:nth-child(2) {
                    @include boxside($correlation-red, 16px);
                }
                &:nth-child(3) {
                    @include boxside($correlation-yellow, 16px);
                }
                &:nth-child(4) {
                    @include boxside($correlation-green, 16px);
                }
                &:nth-child(5) {
                    @include boxside($correlation-blue, 16px);
                }
            }
        }
        .circle-one {
            border-radius:50%;
            background:$grey;
            width:21px;
            height:17px;
            display:block;
            color:#fff;
            float:left;
            font-size:0.8rem;
            text-align:center;
            padding-top:4px;
            margin-left:-21px;
        }
    }
}
